@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap:100,200,300,400,500,600,700');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Abril Fatface", cursive;
    background-color: grey;
    color: white;
    line-height: 2em;
    height: 100vh;
    overflow: hidden;

    }

h1, h2, h3, h4, h5, h6 {
    margin-top: 5%;
  
}

.container-fluid {
    width: 100%;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

   }

::-webkit-scrollbar {
    display: none;
}

/* ============================================= N A V B A R ==================== */

.navbar {
    position: fixed;
    display: flex;
    padding: 0;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
}

.navbar-nav {
    background: rgba(0, 0, 0, 0.8);
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;

}

.navbar ul li {
    margin: 0 1rem;
    padding: 0.5rem;

}

.navbar ul li a {

    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1.2rem;

}

.navbar ul li a:hover {
    color: #f6d5d5;
}

 .navbar-toggler-icon {
     color: white;
     font-size: 26px;
     padding: 6px;

 }


/* ================================================== S E C T I O N S ============ */

section {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;

}


section h1 {
    font-size: 4.5rem;
    margin: 5%;
    text-shadow: 0.2rem 0.2rem purple;
}

section h2 {
    font-size: 3rem;
    text-shadow: 0.1rem 0.1rem purple;
}

section h3 {
    font-size: 1rem;
    text-shadow: 0.1rem 0.1rem purple;
}

section h4 {
    text-shadow: 0.1rem 0.1rem purple;
}

section h5 {
    text-shadow: 0.1rem 0.1rem purple;   
}

section p {
    font-size: 2rem;
   

}

/* ====================================================  I M A G E S =============== */

section#home {
    background: url("assets/images/background1.jpg") no-repeat center center/ cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section#one {
    background: url("assets/images/background1.jpg") no-repeat center center/ cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section#two {
    background: url("assets/images/background2.jpg") no-repeat center center/ cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section#three{
    background: url("assets/images/background3.jpg") no-repeat center center/ cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section#four {
    background: url("assets/images/background4.jpg") no-repeat center center/ cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* tried these two option but neither worked in rendering picture contained within the cell of the grid */ 

.rounded-circle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  /*  max-width: 100px;*/
    height: 75%;
    padding: 10px;
    transform: rotate(90deg);
 }


.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
  
}

/* ==================================================== A B O U T  U S  =============== */

.d-flex {
    font-size: 12px;
    color: blue
}

.flex-fill {
    font-size: 14px;
    color:chocolate;
}



.about-us {
    border: 5px solid red;
    
}

.rachel {
    border: 3px solid black;
    height: 25vh;
}

.information {
    height: 25vh;
}

.lauren {
    border: 3px solid white;
    height: 25vh;
}


/* ==================================================== C A R D S =============== */

/* BAND */

.wrapper {
    margin: 15px;
    padding: 5px;
}

.card-deck {
    padding-left: 15px;
    padding-right: 15px;
       
}

.card-band {
    border-radius: 30px;
    border-width: thick;
    border-color: #f6d5d5;
}


.card-deck .card-band .card-body .card-text {
    font-size: 1.2rem;
    color: black;
    text-shadow: 1.5px 1.5px #f6d5d5;
   
}

.card-deck .card-band .card-body {
    background-color: #f6d5d5;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

}


.card-band .card-body .card-title {
    font-size: 2rem;
    color: red;
}

.card .card-body .card-text p {
    font-size: 1.5rem;
    color: black;
  
}

.card-body-lennon p, .card-body-mccartney p, .card-body-harrison p, .card-body-starr p {
    font-size: 1.2rem;
    color: black;
    background-color: #f6d5d5;
    text-align: justify;
    padding: 14px;
}


/* PACKAGES */


.flex-column {
    align-content: center;
}

.card-tours .card-body-tours .card-title {
    font-size: 2rem;
    padding: 0px;
    color: red;
    letter-spacing: 1px;
    margin: 3px;
}

.card-tours .card-body-tours p {
    font-size: 1.25rem;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 14px;
    text-align: center;
    color: purple;
}

.card-border {
    border-width: thick;
    border-color: #f6d5d5;
    border-radius: 30px;
}

.card-footer {
    padding: 0.05rem 0.05rem;
    background-color: rgba(0,0,0,0);
    border-top: 1px solid rgba(0,0,0,0);
}

.btn-expand {
    background-color: #f6d5d5;
    font-size: 1.25rem;
    text-decoration: none;
    margin: 15px;
    transition: 1.2s ease-in-out;
    border-width: thin;
    border-color: purple;
}
.btn-expand:hover {
    background-color: purple;
    font-size: 1.25rem;
    color: #f6d5d5;
}








/* ==================================================== F O R M S =============== */

.btn-submit {
    background-color: #f6d5d5;
    border-color: purple;
    font-size: 1.25rem;
    text-decoration: none;
    transition: 1.2s ease-in-out;
}

.btn-submit:hover {
    background-color: purple;
    color: #f6d5d5;
}



/* modals */

#liverpoolModal, #londonModal, #beyondModal, #hamburgModal, #newyorkModal, #rishikeshModal {
    background:  url("assets/images/background3.jpg") no-repeat center center/ cover;
}

.modal-dialog .modal-content .modal-title {
    font-size: 2.5rem;
    color: red;
    margin: 30px;
}


.modal-dialog .modal-content .modal-body p {
    font-size: 1.5rem;
    color: indigo;
    text-align: justify;
    letter-spacing: 0.5px;    
}

.modal-header {
    color: purple;
}

.modal-footer {
    color: purple;
    font-size: 1.25rem;
    letter-spacing: 0.5px;
}

.paraSubs {
    text-decoration: underline;
    font-size: 1.5rem;
    font-weight: bold;
    text-indent: 20px;
    letter-spacing: 1px;
}

.bullets {
   font-style: italic;
   text-indent: 10px;
}

.lyrics {
    font-style: oblique;
}

/* ==================================================== S O C I A L  L I N K S =============== */


.contact {
   
}

.social-links {
    padding-top: 10px;
/*  padding-bottom: 30px;*/
}

.social-links li a {
    color: #f6d5d5;
    padding: 10px;
    height: 30px;
    width: 30px;
    font-size: 1.6rem;
    text-decoration: none;
    transition: 1.2s ease-in-out;
}

.social-links li a:hover {
    color: purple;
}



/* ==================================================== M E D I A  Q U E R I E S =============== */

/* mobile first with increasing values as the resolution/screen-size increases*/

@media(min-width: 600px) {
    section h1 {
        font-size: 5rem;
        margin: 5%;
        text-shadow: 0.2rem 0.2rem purple;
        }
    Section h2 {
        font-size: 3.3rem;
        
        }
    section h3 {
        font-size: 1.5rem;
        text-shadow: 0.1rem 0.1rem purple;
        }
    .card-deck .card-band .card-body .card-text {
    font-size: 1.3rem;
        }
    .card-body-lennon p, .card-body-mccartney p, .card-body-harrison p, .card-body-starr p {
    font-size: 1.3rem;
        }
    .social-links li a {
        font-size: 2rem;
        }

}

@media(min-width: 768px) {
    .navbar {
    background: rgba(0, 0, 0, 0.4);
        }
    .navbar-nav {
    background: rgba(0, 0, 0, 0.4);
        }
    
    section h1 {
        font-size: 6rem;
        margin: 5%;
        text-shadow: 0.2rem 0.2rem purple;
        }
        Section h2 {
        font-size: 3.6rem;
        text-shadow: 0.15rem 0.15rem purple;
        }
    section h3 {
        font-size: 2rem;
        text-shadow: 0.1rem 0.1rem purple;
        }
    .card-deck .card-band .card-body .card-text {
    font-size: 1.4rem;
        }
    .card-body-lennon p, .card-body-mccartney p, .card-body-harrison p, .card-body-starr p {
    font-size: 1.4rem;
        }
    .social-links li a {
        font-size: 2.5rem;
    }

}

@media(min-width: 992px) {
    .navbar {
    background: rgba(0, 0, 0, 0.4);
        }
    .navbar-nav {
    background: rgba(0, 0, 0, 0.4);
        }
        
    section h1 {
        font-size: 8rem;
        margin: 5%;
        text-shadow: 0.2rem 0.2rem purple;
        }
    Section h2 {
        font-size: 4rem;
        text-shadow: 0.2rem 0.2rem purple;
        }
    section h3 {
        font-size: 2.5rem;
        text-shadow: 0.1rem 0.1rem purple;
        }
    .card-deck .card-band .card-body .card-text {
    font-size: 1.5rem;
        }
    .card-body-lennon p, .card-body-mccartney p, .card-body-harrison p, .card-body-starr p {
    font-size: 1.5rem;
        }
     .social-links li a {
        font-size: 3rem;
    }

}

/*Introduced max-width media query for unusually small devices like the iPhone 3/4/5/SE etc */
@media(max-width: 500px){
    Section h2 {
        font-size: 2.5rem;
        text-shadow: 0.1rem 0.1rem purple;
        }
    .btn-expand {
        font-size: 1rem;
    }

    .btn-submit {
        font-size: 1rem;
    }
    .modal-dialog .modal-content .modal-body p {
        font-size: 1.2rem;
        color: indigo;
        text-align: justify;
        letter-spacing: 0.5px;    
    }
    .extra-small {
        height: 40px;
    }
}





