@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap:100,200,300,400,500,600,700');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Abril Fatface", cursive;
    background-color: grey;
    color: white;
    line-height: 2em;
    height: 100vh;
    overflow: hidden;

       }

.container-fluid {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

   }


/* ============================================= N A V B A R ==================== */
.navbar {
    position: fixed;
    display: flex;
    padding: 0;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.1);

}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;

}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;

}

.navbar ul li a {

    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1.2rem;


}

.navbar ul li a:hover {
    color: pink;
}

/* ================================================== S E C T I O N S ============ */

section {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
     width: 100%;
    height: 100vh;
    scroll-snap-align: center;

}

section h1 {
font-size: 5rem;

}


section p {
font-size: 1rem;

}

/* ==================================================== I M A G E S =============== */

section#home {
    background: url("assets/images/background1.jpg") no-repeat center center/ cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section#one {
    background: url("assets/images/background1.jpg") no-repeat center center/ cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section#two {
    background: url("assets/images/background2.jpg") no-repeat center center/ cover;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section#three{
    background: url("assets/images/background3.jpg") no-repeat center center/ cover;
      -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section#four {
    background: url("assets/images/background4.jpg") no-repeat center center/ cover;
      -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}





.social-links {
    padding-bottom: 30px;

}

.social-links li a {
    color: pink;
    height: 30px;
    width: 30px;
    font-size: 40px;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

.social-links li a:hover {
    color: purple;
}




